body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app, #result{
    /* grid-template-columns:  */
    grid-area: main;
    height:90vh;
    grid-gap: 0em;
    background: lightpink;
    color: black;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
}

#app{
    display: grid;
    grid-auto-rows: minmax(150px, auto);
}

#result{
    display: none;
    grid-auto-rows: minmax(35px, auto);
    grid-template-areas: 
        "hd hd hd hd hd hd hd hd hd"
        "sd main main main main main main main main"
        "ft ft ft ft ft ft ft ft ft";
}

.box{
    padding: 1%;
}

.entry{
    background: rgba(59, 74, 107, .4);
}

.header {
    display: flex;
    grid-area: hd;
    justify-content: space-evenly;
    padding: 20px;
}

.picture {
    display: flex;
    grid-area: sd;
}

.details{
    display:flex;
    grid-area: main;
    flex-direction: column;
    padding-left: 2%;
    font-size: 1.8em
}

#return{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20%;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 2em;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background:lightgray;
    color: gray;
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
    border: none;
}

input:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    background-color: rgb(180, 180, 179);
}

button{
    width: 320px;
    height: 70px;
    cursor: pointer;
    background: gray;
    color: black;
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
    border: 1px solid #444;
    transition: box-shadow .3s;
}

button:hover{
    box-shadow: 2px 4px 5px #444;
}

h1{
    font-size: 2.5em;
}

textarea{
    background:#22b2da;
    color: black;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: gray;
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: gray;
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: gray;
    font-family: 'Oswald', sans-serif;

} 